<h2>Welcome to Fridge Magnets!</h2>
<p>This is a web application developed in 24 hours by the Evil Developers (aka the dEvils) from the Evil Corporation during the Rueppellii Hackathon (28-29 March 2019).</p>
<p>Team members (and their focus on this project):</p>
<ul>
  <li>Mihály Barczi (FrontEnd - Angular)</li>
  <li>Richárd Koronczi (BackEnd & DevOps - Spring)</li>
  <li>Péter Nagy (FrontEnd & DevOps - Angular)</li>
  <li>Tamás Szőke (BackEnd - Spring)</li>
  <li>Ádám Vankó (BackEnd - Spring)</li>
</ul>