<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list style="padding: 15px;">
      <a class="nav-home" routerLink="/">
        <mat-icon aria-label="home">home</mat-icon>
      </a>
      <br><br>
      <a routerLink="/">
        <mat-icon aria-label="Shopping icon">add_shopping_cart</mat-icon>
        <span style="margin: 5px;">Going to shop</span>
      </a>
      <br><br>
      <span class="spacer">My Fridges</span>
      <a mat-list-item routerLink="/addfridge">
        <mat-icon aria-label="Add fridge icon">add</mat-icon>
        <span style="margin: 5px;">New fridge</span>
      </a>
      <div *ngFor="let fridge of getFridges()">
        <a mat-list-item [routerLink]="['/fridge',fridge.id]">{{fridge.fridgeName}}</a>
      </div>
      <br>
      <span class="spacer">My PostIts</span>
      <a mat-list-item *ngFor="let fridge of fridges" href="/fridges/{{fridge.id}}"></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Fridge Magnets by Evil Corp © 2019</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
