<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <span class="spacer">My Fridges</span>
      <a mat-list-item routerLink="">
        <mat-icon aria-label="Add fridge icon">plus</mat-icon>Create new fridge...
      </a>
      <a mat-list-item *ngFor="let fridge of fridges"><a [routerLink]="['/fridge',fridge.id]">{{fridge.fridgeName}}</a></a>
      <span class="spacer">My PostIts</span>
      <a mat-list-item *ngFor="let fridge of fridges" href="/fridges/{{fridge.id}}"></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>hackathon-fridge</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
