<div class="fridgename">{{ loadCurrentFridge().fridgeName }}</div>
<div class="create-postit"><a routerLink="/">Create new Post-It</a></div>
<div class="flex">
        <div *ngFor="let postIt of loadCurrentFridge().postIts" class="box">
            <img src="../../../assets/postit_green.png"/>
            <span class="text-centered">{{postIt.body}}</span>
            <span>
                <mat-chip-list aria-label="asd">
                    <mat-chip><mat-icon aria-label="Edit postit">edit</mat-icon></mat-chip>
                    <mat-chip><mat-icon aria-label="Delete postit">delete</mat-icon></mat-chip>
                </mat-chip-list>
            </span>
        </div>
</div>


