<div class="fridgename">{{ loadCurrentFridge().fridgeName }}</div>
<div class="create-postit"><a routerLink="/">Create new Post-It</a></div>
<div class="flex">
        <div *ngFor="let postIt of loadCurrentFridge().postIts" class="box">
            <img *ngIf="postIt.type ==='shopitem'" src="../../../assets/postit_green.png"/>
            <img *ngIf="postIt.type ==='message'" src="../../../assets/postit_yellow.png"/>
            <span>
                <mat-chip-list class="button-right" aria-label="postit operations">
                    <mat-chip [routerLink]="['/fridge/edit/postit',postIt.id]"><mat-icon aria-label="Edit postit">edit</mat-icon></mat-chip>
                    <mat-chip [routerLink]="['/fridge/delete/postit',postIt.id]"><mat-icon aria-label="Delete postit">delete</mat-icon></mat-chip>
                </mat-chip-list>
            </span>
            <span class="text-centered">{{postIt.body}}</span>
        </div>
</div>


